body{
    margin: 0px;
}

.first-sec{
    height:550px;
    text-align: justify;
    padding: 150px;
    background-image:url("images/header-bg.png");
}

.second-sec{
    height: 550px;
    text-align: justify;
    padding: 150px;
    background-image: url("images/biography-bg.png");

}
.third-sec{
    height:400px;
    padding: 150px;
    background-image: url("images/latest-work-bg.png");
}


h1{
    font-size: 50px;
}
.align{
    text-align:center;
}
.name{
    color: rgb(247, 89, 89);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(90deg, tomato, rgb(241, 68, 68));
    padding: 10px 20px;
    border-radius: 5px;
    color:aliceblue;
    font-size: 20px;
}
.first-div img{
    width: 100%;
}
.first-div{
    width: 40%;
    float: left;
    margin: 5px;
    padding:20px;
}
.second-div img{
    width: 100%;
}
.second-div{
    width: 40%;
    float: left;
    margin: 5px;
    padding:20px;
}
.latest-div img{
width: 20%;
float: left;
margin-left:160px;
padding:5px;
}
.last-sec{
    height: 100px;
    padding: 150px;
}
.last-div{
    width:50%;
    background-image: linear-gradient(45deg, rgb(47, 153, 240), blue);
    border-radius: 10px;
    margin-left:400px;
    padding:5px;
    color: whitesmoke;
    
}
.mail{
    text-align: right;
    text-decoration: none;
    float: right;
    background-image: linear-gradient(45deg, tomato, red);
    padding: 10px;
    border-radius: 5px;
    color: white;
}
footer{
    text-align: center;
}
